.customInput {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1;
    padding-block: 4px;
    padding-inline: 2px;
    border-color: var(--cor-font);
}

.customInput:focus{
    outline: none;
}
