main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogin {
    width: 75%;
    height: 85%;
    padding: 12px;

    background-color: var(--cor-primaria-dark);
    text-align: center;
}

.input {
    width: 90%;
    margin-block: 10px;
}